body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console","Courier New",monospace;
  font-weight: 500;
  background: linear-gradient(to right,#f218e3 0%,#f22929 100%);
}
button{
  cursor: pointer;
}
